@import 'rip3-tab.css';
@import 'rip3-nav.css';
@import 'rip3-aside.css';

body {
    background: white;
    font-family: 'Schoolbell', cursive;
}
.logo {
    //margin: 5vh 5vw 5vh 5vw;
    width: //90vw;
    height: 10vh;
    border: 5px solid black;
    background: black;
    color: white;
}

header {
    display:block;
    width: 100%;
    background: black;
    color:white;
    text-align: center;
}
h1 {
    font-size: 100px;

}

section {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

